@model DAL_EF.Person

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMBG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMBG)
        </dd>

    </dl>
</div>
<p class="btn btn-warning btn btn-block" width="80px">
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonId }) 
    </p>
<p class="btn btn-info">
    @Html.ActionLink("Back to List", "Index")
</p>
