@model IEnumerable<DAL_EF.Person>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<h2>Index</h2>
<br />
<br />
<p class="btn btn-info">

    @Html.ActionLink("Create New", "Create")
</p>
<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Enter person name or address id" value="@ViewData["GetAddressDetails"]" name="Addrsearch" style="width:500px" />
        <input type="submit" value="Search" class="btn btn-primary" />
        @*<a asp-action="Index" class="btn btn-success pull-left">Get All Addresses</a>*@
    </p>
</form>
<table class="table table-hover">
    <tr style="background-color:darkgoldenrod">
        <th>
            @Html.DisplayNameFor(model => model.PersonFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonMiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMBG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.PersonFirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PersonLastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IdNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PersonMiddleName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AddressId)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EMBG)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsActive)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsDeleted)
    </td>

    <td class="btn btn-warning" width="69">
        @Html.ActionLink("Edit", "Edit", new { id = item.PersonId })
    </td>
    <td class="btn btn-success" width="69">
        @Html.ActionLink("Details", "Details", new { id = item.PersonId })
    </td>
    <td class="btn btn-danger" width="69">
        @Html.ActionLink("Delete", "Delete", new { id = item.PersonId })
    </td>
</tr>
}

</table>
